<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	
	<!--<listeners>
		<listener class-name="TestNG_Listner"></listener>
	</listeners>-->
	
	<test thread-count="5" name="Test_Amezone1">
		<parameter name="Chormebrowser" value="https://www.amazon.in/"></parameter>	 
	  
	  <groups>
		  <run>
			  <include name="sanityTesting"></include> 
		  </run>
	  </groups>
    <classes>
	<class name="Amezon_LoginPage.Group_Test_NG">
		
		<methods> 
			<include name=""></include>
			<exclude name=""></exclude>
		</methods>
	</class>
    <class name="Amezon_LoginPage.Loginpage_TestNG"></class>       
        
    </classes>
	
  </test> <!-- Test -->
  
  <!--how to type comment-->
  
</suite> <!-- Suite -->
